{% extends 'base.html' %} {%block content%}
<div class="homepage-text">
  <h5>VenderHelper</h5>
  <p>Contracting Made Simple</p>
  <p class="home">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci molestiae
    quam dicta expedita? Minus amet iusto provident, debitis quisquam facere,
    similique facilis rem consectetur sapiente, voluptas unde quidem nemo
    soluta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
    molestiae, nemo minima illo ipsa eligendi voluptatum, aliquam quas maiores
    veniam dolore eos rem exercitationem voluptas quidem sequi delectus suscipit
    asperiores. Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Doloribus sit similique, distinctio illum, molestias illo, fugit hic ullam
    recusandae beatae perferendis incidunt dolores suscipit. Delectus
    consequatur mollitia similique quas iure?
  </p>
</div>
<a class="button" href="/search">Search!</a>
{%endblock%}
