$primary-color: rgb(242, 170, 36);
$black-adjacent: rgb(37, 37, 37);

a.button {
  margin: 80px;
  border: 1px solid black;
  background-color: $primary-color;
  border-radius: 6px;
  width: 150px;
  height: 70px;
  font-size: 18px;
  color: white;
}
p.home {
  width: 650px;
  height: 650;
  word-wrap: break-word;
}
.homepage-text {
  text-align: center;
  margin-top: 200px;
}
