$primary-color: rgb(242, 170, 36);
$black-adjacent: rgb(37, 37, 37);

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url("../assets/katie-moum-623907-unsplash\ \(1\).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  //   min-height: 100vh;
}
header {
  background-color: $primary-color;
  color: $black-adjacent;
  width: 100%;
}
.nav-content {
  display: flex;
  align-content: space-around;
  justify-content: flex-end;
}
a {
  padding-left: 35px;
  padding-right: 10px;
  text-decoration: none;
  color: $black-adjacent;
}
a:hover {
  color: white;
}
footer {
  margin-top: 465px;
  background-color: $primary-color;
  color: $black-adjacent;
  width: 100%;
}
